@import '../../index.scss';


.shop {
	width: 50%;
	background-color: $shopColor;
	text-align: center;

	h2 {
		font-size: $baseSize * 6;
		margin-top: $baseSize * 5;
		color: white;
	}
}

.shop-upgrades {
	width: 100%;
	height: $baseSize * 89.5;
	margin-top: $baseSize * 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

.skeleton {
	opacity: .7;
	animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
	width: 10%;
	height: $baseSize * 3;
	margin-bottom: $baseSize * .5;
	border-radius: $baseSize * .25;
}

@keyframes skeleton-loading {
	0% {
		background-color: #a3b8c2;
	}

	100% {
		background-color: #f0f3f5;
	}
}

@media screen and (max-width: 800px) {
	.shop {
		width: 100%;

		h2 {
			margin-top: 0px;
		}
	}
}

