@import '../../index.scss';

.shop {
	width: 50%;
	background-color: $shopColor;
}

.shop-upgrades {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

