@import '../../index.scss';

.shop {
	width: 50%;
	background-color: $shopColor;

	h2 {
		font-size: $baseSize * 6;
		margin-top: $baseSize * 5;
	}
}

.shop-upgrades {
	width: 100%;
	height: $baseSize * 89.5;
	margin-top: $baseSize * 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

@media screen and (max-width: 800px) {
	.shop {
		width: 100%;
	}
}

