@import '../../index.scss';

.taco-tapper {
	width: 50%;
	height: 100%;
	background-color: $gameColor;
	border-right: 16px solid #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.tacos {
	height: $baseSize * 14;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	margin-top: $baseSize * 5;

	h2 {
		font-size: $baseSize * 6;
	}

	h3 {
		font-size: $baseSize * 3.5;
	}
}

.taco-button {
	position: absolute;
	left: 25%;
	top: 25%;
	width: $baseSize * 50;
	height: $baseSize * 50;
	background: none;
	border: none;
	cursor: pointer;

	// transform: translate(-50%, -50%);

	&:active {
		animation: bounce .5s ease-in-out;
	}
}

.taco-img {
	width: $baseSize * 50;
	filter: drop-shadow(0px $baseSize * 1.5 $baseSize * 3 #000);
}

@keyframes bounce {
	0% {
		transform: scale(0.9);
	}

	20% {
		transform: scale(1.1);
	}

	30% {
		transform: scale(0.95);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(0.95);
	}

	90% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

.shop-btn {
	display: none;
	width: 60%;
	height: $baseSize * 6.5;
	background-color: $buttonColor;
	border-radius: $baseSize * 1.5;
	box-shadow: 0px $baseSize * .5 $baseSize #000;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translate(-50%, -50%);
	
	h2 {
		font-size: $baseSize * 4;
	}
}



/*~~~~~~Media Queries~~~~~~*/

@media screen and (min-width: 1100px) and (max-width: 1400px) {
	.taco-button {
		left: 15%;
		top: 25%;
	}
}

@media screen and (min-width: 950px) and (max-width: 1100px) {
	.taco-button {
		width: $baseSize * 43;
		height: $baseSize * 43;
		left: 12%;
		top: 25%;
	}

	.taco-img {
		width: $baseSize * 43;
	}
}

@media screen and (min-width: 800px) and (max-width: 950px) {
	.taco-button {
		left: 10%;
		width: $baseSize * 40;
		height: $baseSize * 40;
	}

	.taco-img {
		width: $baseSize * 40;
	}
}

@media screen and (min-width: 600px) and (max-width: 800px) {
	.taco-tapper {
		width: 100%;
	}

	.taco-button {
		left: 25%;
		width: $baseSize * 40;
		height: $baseSize * 40;
	}

	.taco-img {
		width: $baseSize * 40;
	}

	.shop-btn {
		display: block;
	}
}
@media screen and (min-width: 400px) and (max-width: 600px) {
	.taco-tapper {
		width: 100%;
	}

	.taco-button {
		left: 20%;
		top: 30%;
		width: $baseSize * 35;
		height: $baseSize * 35;
	}

	.taco-img {
		width: $baseSize * 35;
	}

	.shop-btn {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	.taco-tapper {
		width: 100%;
	}

	.taco-button {
		left: 10%;
		top: 30%;
		width: $baseSize * 30;
		height: $baseSize * 30;
	}

	.taco-img {
		width: $baseSize * 30;
	}

	.shop-btn {
		display: block;
	}
}

