@import '../../index.scss';

.upgrade {
	width: 95%;
	height: $baseSize * 15.5;
	color: black;
	background-color: $buttonColor;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: $baseSize * 4.5;
	font-weight: bold;
	padding-left: $baseSize * 1.5;
	padding-right: $baseSize * 1.5;
	border-radius: $baseSize * 1.5;
	margin-bottom: $baseSize * 1.5;
	box-shadow: 0px $baseSize * .5 $baseSize #000;
	border: $baseSize * .125 solid #979797;
	cursor: pointer;

	.bottom-upgrade-row > p:nth-child(1) {
		color: $shopOptionAvailibePriceColor;
	}
}

.top-upgrade-row {
	margin-top: $baseSize;
}

.top-upgrade-row,
.bottom-upgrade-row {
	margin-bottom: $baseSize;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.bottom-upgrade-row> :nth-child(1) {
	display: flex;
	align-items: center;

	.taco-image {
		margin-right: $baseSize * 1.5;
		width: $baseSize * 6;
		filter: drop-shadow(0px $baseSize * .25 $baseSize * .5 #000);
	}
}

.upgrade:disabled {
	color: $shopOptionUnavailibleColor;
	background-color: $disabledButtonColor;
	cursor: auto;

	.bottom-upgrade-row>p:nth-child(1) {
		color: $shopOptionUnavailibePriceColor;
	}

	.taco-image {
		filter: brightness(0.5) drop-shadow(0px $baseSize * .25 $baseSize * .5 #000);
	}
}

/*~~~~~~Media Queries~~~~~~*/
@media screen and (min-width: 1100px) and (max-width: 1350px) {
	.upgrade {
		font-size: $baseSize * 3.5;
	}
}

@media screen and (min-width: 950px) and (max-width: 1100px) {
	.upgrade {
		font-size: $baseSize * 3;
	}
}

@media screen and (min-width: 800px) and (max-width: 950px) {
	.upgrade {
		font-size: $baseSize * 2.5;
	}
}

@media screen and (min-width: 620px) and (max-width: 800px) {
	.upgrade {
		font-size: $baseSize * 4;
	}
}

@media screen and (min-width: 500px) and (max-width: 620px) {
	.upgrade {
		font-size: $baseSize * 3;
	}
}

@media screen and (max-width: 500px) {
	.upgrade {
		font-size: $baseSize * 2;
	}
}